
<div class="page-container">
  <div class="main-content">
    <div class="section__content section__content--p30">
      <div class="container">
        <div class="row m-0">
          <div class="col-sm-8">
            <div class="page-header float-left">
              <div class="page-title">
                <h2 class="title-1">Greenfield</h2>
                <h3 class="title-1">View tasks and documents related to this project</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="content-section-c">
          <div class="container">
            <div class="row-lg-12">
              <div class="tabbable">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#pane1" data-toggle="tab">Tasks</a></li>
                  <li><a href="#pane2" data-toggle="tab">Schedule</a></li>
                  <li><a href="#pane3" data-toggle="tab">Catch Up</a></li>
                  <li><a href="#pane4" data-toggle="tab">Files</a></li>
                </ul>
                <div class="tab-content">
                  <div id="pane1" class="tab-pane active">
                  </div>
                  <!-- /.container -->
                </div>
                <!-- /.content-section-c -->
              </div>
            </div>
          </div>
        </div><br>

        <div class="row m-0">
          <div class="col-sm-8">
            <div class="page-header float-left">
              <div class="page-title">
                <h2 class="title-1">BTS and Microwave installation subtasks</h2>
                <h3 class="title-1">In the installation team board</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="container-tasks">
          <div class="row row-tasks">
            <div class="chart-note-wrap">
              <div class="col-sm-12">
                <div class="au-card task-card">
                  <div class="au-card-inner block">
                    <div class="add"><i class="fa fa-plus"> </i> Add a subtask</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="chart-note-wrap">
              <div class="col-sm-12">
                <div class="au-card task-card">
                  <div class="au-card-inner block">
                    <form action="">
                      <input type="checkbox" name="task" value="task"> Receipt of BTS and M W RFI<br>
                    </form>

                  </div>
                </div>
              </div>
            </div>

            <div class="chart-note-wrap">
              <div class="col-sm-12">
                <div class="au-card task-card">
                  <div class="au-card-inner block">
                    <form action="">
                      <input type="checkbox" name="task" value="task"> Collection and delivery of BTS and M W<br>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="chart-note-wrap">
              <div class="col-sm-12">
                <div class="au-card task-card">
                  <div class="au-card-inner block">
                    <form action="">
                      <input type="checkbox" name="task" value="task"> Installation of BTS<br>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="chart-note-wrap">
              <div class="col-sm-12">
                <div class="au-card task-card">
                  <div class="au-card-inner block">
                    <form action="">
                      <input type="checkbox" name="task" value="task"> Installation of M W links and commissioning<br>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="chart-note-wrap">
              <div class="col-sm-12">
                <div class="au-card task-card">
                  <div class="au-card-inner block">
                    <form action="">
                      <input type="checkbox" name="task" value="task"> Jumpering<br>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
