
<div class="page-container">
  <div class="main-content">
    <div class="section__content section__content--p30">
      <div class="container-title">
        <div class="row m-0">
          <div class="col-sm-12">
            <div class="page-header float-left">
              <div class="page-title">
                <h1 class="title-1">Scorecard</h1>
                <h4 class="title-1">Track performance and progress across different projects</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12"><hr></div>

      <div class="container-charts">
        <div class="row">
          <div class="au-card chart-percent-card col-sm-2">
            <div class="au-card-inner">
              <h2 class="title-2 tm-b-5">Revenue</h2>
              <hr>
              <div class="chart-note-wrap">
                <span class="detail">Ksh. 3,000,000</span>
                <div class="chart-note mr-0 d-flex">
                  <span class="dot dot--blue"></span>
                  <span class="fetched-data">On track: </span>
                </div>
                <div class="chart-note mr-0 d-block">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    </div>
                  </div>
                </div><br>
                <div class="chart-note mr-0 d-flex">
                  <span class="dot dot--blue"></span>
                  <span class="fetched-data">Off track: </span>
                </div>
                <div class="chart-note mr-0 d-block">
                  <div class="progress">
                    <div class="progress-bar-off" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    </div>
                  </div>
                </div>
                <hr>
                <button type="button" class="btn btn-summary" data-toggle="modal" data-target="#revenue-modal">View detailed summary  <i class="fa fa-arrow-right"></i></button>
                <br>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="revenue-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="revenue-modal-label">Revenue Detailed Summary</h2>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>Project Name: </div>
                  <div>Total Revenue:</div>
                  <div>On track Revenue:</div>
                  <div>Off track Revenue:</div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


          <div class="au-card chart-percent-card col-sm-2">
            <div class="au-card-inner">
              <h2 class="title-2 tm-b-5">Project TAT</h2>
              <hr>
              <div class="chart-note-wrap">
                <span class="detail2">24 days</span>
              </div>
              <hr>
              <button type="button" class="btn btn-summary" data-toggle="modal" data-target="#tat-modal">View detailed summary  <i class="fa fa-arrow-right"></i></button>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="tat-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="tat-modal-label">Project TAT Detailed Summary</h2>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <div class="au-card chart-percent-card col-sm-2">
            <div class="au-card-inner">
              <h2 class="title-2 tm-b-5">Purchase Orders</h2>
              <hr>
              <div class="chart-note-wrap">
                <span class="detail">87 POs</span>
                <div class="chart-note mr-0 d-flex">
                  <span class="dot dot--blue"></span>
                  <span class="fetched-data">On track: </span>
                </div>
                <div class="chart-note mr-0 d-block">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    </div>
                  </div>
                </div><br>
                <div class="chart-note mr-0 d-flex">
                  <span class="dot dot--blue"></span>
                  <span class="fetched-data">Off track: </span>
                </div>
                <div class="chart-note mr-0 d-block">
                  <div class="progress">
                    <div class="progress-bar-off" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    </div>
                  </div>
                  <hr>
                  <button type="button" class="btn btn-summary" data-toggle="modal" data-target="#po-modal">View detailed summary  <i class="fa fa-arrow-right"></i></button>
                </div>
                <br>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="po-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="po-modal-label">Purchase Orders Detailed Summary</h2>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <div class="au-card chart-percent-card col-sm-2">
            <div class="au-card-inner">
              <h2 class="title-2 tm-b-5">Site Rework</h2>
              <hr>
              <div class="chart-note-wrap">
                <span class="detail2">11%</span>
                <br>
              </div>
              <hr>
              <button type="button" class="btn btn-summary" data-toggle="modal" data-target="#siterework-modal">View detailed summary  <i class="fa fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="siterework-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="siterework-modal-label">Site Rework Detailed Summary</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="container-othercharts">
          <div class="row">
            <div class="au-card au-bar col-sm-12">
              <div class="au-card-inner">
                <h2 class="title-2 tm-b-5">Revenue Forecast</h2>
                <div style="display: block; width: 400px ">
                  <canvas baseChart
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType"
                          [colors]="chartColors" >
                  </canvas>

                </div>
              </div>
            </div>


          </div>


        </div>

      </div>
    </div>
  </div>
</div>
