<div class="container">
  <div class="account_wall">
        <form class="form-signin">
          <h2 class="title1">Welcome to the Adrian Erp</h2>
          <h3 class="title2">Login to your account</h3>
          <input type="text" type="email" class="form-control" placeholder="Username/Email address" required="">
          <input type="password" class="form-control" placeholder="Password" required="">
          <button class="btn btn-md btn-outline-primary btn-block form-control" type="submit">Sign in</button>
          <label class="checkbox float-sm-left" id="remember">
          <input type="checkbox" value="remember-me">Remember me</label>
          <a href="" class="float-sm-right need-help" id="forgot-password">Forgot Password? </a><span class="clearfix"></span>

        </form>
      </div>

</div>
