<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
  <div class="menu-sidebar__content">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar__list">
        <li class="active">Projects</li>
        <li>Tasks</li>
        <li>Monitoring</li>
        <li>Scorecard</li>
        <li>Calendar</li>
      </ul>
    </nav>
  </div>
</aside>

<!-- END MENU SIDEBAR-->
<!--HEADER-->
<div class="page-container">
  <div id="right-panel" class="right-panel">
    <header id="header" class="header">
      <span class="logo">
        <img src="assets/images/index.jpeg" alt="logo" /><span class="main-title">Adrian Kenya ERP</span>
      </span>
      <div class="col-sm-8 search-header">
        <form class="form-header form-inline float-left" role="search" action="" method="get">
          <input class="au-input au-input--sm" type="text" name="search" placeholder="Find anything"/>
          <button class="search-trigger"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="col-sm-4 nav-links">
        <ul class="navbar-nav ml-auto nav-flex-icons" id="nav-links">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
      <!--ACCOUNT-->
    </header>
  </div>
  <!--END OF HEADER -->

  <div class="main-content">
    <div class="section__content section__content--p30">
      <div class="container">
        <div class="row m-0">
          <div class="col-sm-8">
            <div class="page-header float-left">
              <div class="page-title">
                <h2 class="title-1">Greenfield</h2>
                <h3 class="title-1">View tasks and documents related to this project</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="content-section-c">
          <div class="container">
            <div class="row-lg-12">
              <div class="tabbable">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#pane1" data-toggle="tab">Tasks</a></li>
                  <li><a href="#pane2" data-toggle="tab">Schedule</a></li>
                  <li><a href="#pane3" data-toggle="tab">Catch Up</a></li>
                  <li><a href="#pane4" data-toggle="tab">Files</a></li>
                </ul>
                <div class="tab-content">
                  <div id="pane1" class="tab-pane active">
                  </div>
                  <!-- /.container -->
                </div>
                <!-- /.content-section-c -->
              </div>
            </div>
          </div>
        </div><br>

        <div class="row m-0">
          <div class="col-sm-8">
            <div class="page-header float-left">
              <div class="page-title">
                <h2 class="title-1">Tower Foundation & Curing</h2>
                <h3 class="title-1">In the civil works team board</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="container container-tasks">
          <div class="row row-tasks">
          <div class="chart-note-wrap">
          <div class="col-sm-12">
            <div class="au-card task-card">
              <div class="au-card-inner block">
              <div class="add"><i class="fa fa-plus"> </i> Add a task item</div>
              </div>
            </div>
          </div>
        </div>

            <div class="chart-note-wrap">
              <div class="col-sm-12">
                <div class="au-card task-card">
                  <div class="au-card-inner block">
                    <form action="">
                      <input type="checkbox" name="task" value="task"> Seal Footings<br>
                    </form>

                  </div>
                </div>
              </div>
            </div>

            <div class="chart-note-wrap">
              <div class="col-sm-12">
                <div class="au-card task-card">
                  <div class="au-card-inner block">
                    <form action="">
                      <input type="checkbox" name="task" value="task"> Treat foundation walls with sealer<br>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="chart-note-wrap">
              <div class="col-sm-12">
                <div class="au-card task-card">
                  <div class="au-card-inner block">
                    <form action="">
                      <input type="checkbox" name="task" value="task"> Back fill and dump proofing<br>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
