
<!--HEADER-->
<div class="page-container">
  <div class="container-forms">
    <div class="container">
      <form action="" role="form" class="form-signin">
        <div id="part3" class="form-group">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Purchase Order Form</h3>
            </div>
            <div class="upload-documents">
              <div class="upload-file col-sm-12">
                <label for="purchaseorder" class="upload-labels">Upload Purchase Order File</label>
                <input type="file" class="form-control-file" id="purchaseorder">
              </div>
            </div>
            <div class="upload-file col-sm-12">
              <input type="text" class="form-control-file details" placeholder="Purchase Order Cost" aria-describedby="sizing-addon1">
            </div>
            <div class="upload-file col-sm-12">
              <input type="text" class="form-control-file details" placeholder="Material Cost" aria-describedby="sizing-addon1">
            </div>
            <div class="upload-file col-sm-12">
              <input type="text" class="form-control-file details" placeholder="Labor Cost" aria-describedby="sizing-addon1">
            </div>
            <div class="upload-file col-sm-12">
              <input type="text" class="form-control-file details" placeholder="Project Name" aria-describedby="sizing-addon1">
            </div>
            <div class="btn-group btn-group-lg" role="group" aria-label="...">
            </div>
            <label class="continue">
              <button type="submit" class="btn btn-default btn-submit">Submit</button>
            </label>
          </div>
        </div>
      </form>
    </div>


  </div>
</div>

